@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
  margin: 3% 10%;
  display: flex;
  justify-content: space-around;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin-top: 0;
}
