.card {
    width: 65vw;
    height: 65vh;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 250, 250) !important;
    border-radius: 5% !important;
}

.title {
    color: rgb(250, 241, 241);
    font-weight: 500;
}

.input {
    width: 450px;
    margin-bottom: 10px;
}
