.rating {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.pleasure {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.buttonPleasure {
  margin-right: 20px;
}

.sendBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
